
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #f5f5f5;
    font-family: 'Open Sans',sans-serif;
    height: 100vh;
  }

  :root {
    --navbar-bg-color: #504750;
    --navbar-text-color: #f5f5f5;
    --navbar-text-color-focus: #fff;
    --navbar-bg-contrast: #363036;
  }

  .conatiner01 {
    max-width: 100%;
    padding: 5px;
  }

  .container02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 60px 0px;
  }

  #navbar {
    --navbar-height: 64px;
    position: relative;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .navbar-item {
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }

  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
  } 

  #navbar-menu {
    position: fixed;
    top: 64px;
    bottom: 75%;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    
  }

  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    background-color: #504750;
    opacity: 1;
    visibility: visible;
  }

  .navbar-links {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
    width: 100%;
    
  }

  #pageTitle {
    text-transform: uppercase;
    margin: 60px 0 40px;
  }
  
  #searchSection {
    width: 100%;
    margin-bottom: 40px;
  }
  
  #searchSection input [type=text] {
    border: none;
    font-size: 20px;
    margin-top: 8px;
    padding: 6px;
  }
  
  #searchSection button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    float: right;
    margin-top: -40px;
    padding: 6px 10px;
  }

.gallerySection {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap:8px;
  margin: 0 10px;
}

.wallSpace {
  margin-bottom: 20px;
  padding: 0 8px;
  position: relative;
}

.gallerySection .wallSpace img {
  width: 100%; 
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.gallerySection .wallSpace img:hover {
  transform: scale(1.1);
}

.title {
  display: inline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}

.creationDate {
  display: inline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
  margin-left: 5px;
}

.artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-bottom: 2px;
}


@media (min-width: 600px) { 
  .gallerySection {
    grid-template-columns: repeat(1, 1fr);
  }
 
}

@media (max-width: 600px) { 
  .gallerySection {
    grid-template-columns: repeat(1, 1fr);
  }

  .container02 {
    padding: 10px 0px 10px 0px;
  }  

  #pageTitle {
    margin: 15px 0 10px;
    text-align: center;
  }

  #searchSection {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #navbar-menu {
    bottom: 80%;
  }

  .container02 {
    padding: 15px 0px 15px 0px;
  }  

  #pageTitle {
    margin: 20px 0 15px;
    text-align: center;
  }

  #searchSection {
    margin-bottom: 15px;
  }

  .gallerySection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  #navbar-toggle {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .gallerySection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .gallerySection {
    grid-template-columns: repeat(4, 1fr);
  }
}

